* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #CBE4DE;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color: #CBE4DE;
}

.menu {
   float: right; 
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #2E4F4F;
}

nav ul{
    list-style-type: none;
    margin: none;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float:left;
}

nav ul li a{
    color: #CBE4DE;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

.kolom{
    margin-left: 30px;
    margin-bottom: 10px;
}

.kolom li{
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(60, 60, 161);
}

img{
    display: block;
    width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 70%;
    margin: auto;
}

#foto{
    display: block;
    margin: auto;
    padding: 45px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
footer{
    background-color:#2E4F4F;
	color: #CBE4DE;
	text-align: center;
	padding: 30px;
}